<div>
    <div class="float-left title col-12 p-0">
        <div class="gradient float-left col-12 p-0 pb-3">
        <div class="container text-center pt-3">
            <h2 class="animated fadeInDown">Presupuesto a Consultar</h2>
        </div>
        </div>
    </div>
</div>

<div class="container">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Titulo</th>
            <th scope="col">Categoria</th>
            <th scope="col">Cantidad</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mueble 1</td>
            <td>Mesas de interiores</td>
            <td>1</td>
            <td>
                <i class="fas fa-trash"></i>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Mueble 2</td>
            <td>Madera de Pino</td>
            <td>3</td>
            <td><i class="fas fa-trash"></i>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Mueble Especial</td>
            <td>Importados</td>
            <td>1</td>
            <td><i class="fas fa-trash"></i>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="mb-3">
        <button type="button" class="btn btn-danger col-12 ">Enviar a Presupuestar</button>
      </div>
</div>