<section class="about pt-3 pt-md-5 pb-5 text-center">

   <app-title [title]="'Sobre Maria Guerrero'"></app-title>

    <div class="container clearfix pt-2 pt-md-5 pb-3 pb-md-5 text-center">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sem integer vitae justo eget magna fermentum. Viverra adipiscing at in tellus.
        </p>
        <p>
            Dui vivamus arcu felis bibendum ut tristique et. Integer quis auctor elit sed. Orci sagittis eu volutpat odio facilisis mauris sit. Suspendisse in est ante in nibh mauris cursus. Vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa. Viverra nam libero justo laoreet sit amet cursus sit amet. Id faucibus nisl tincidunt eget nullam non nisi est. Consectetur adipiscing elit duis tristique. Cursus in hac habitasse platea. Non consectetur a erat nam at lectus urna. Faucibus in ornare quam viverra orci sagittis eu volutpat. Amet nisl purus in mollis.
        </p>
    </div>
    <div class="iconos text-center pb-2 pb-md-4  ">
        <i class="fas fa-couch ml-4 mr-4"></i>
        <i class="fas fa-chair ml-4 mr-4"></i>
        <i class="fas fa-crop-alt ml-4 mr-4"></i>
    </div>
</section>
