

.about{
    font-size: 22px;
    background-image: url('/assets/textures/bg-white.jpg');
    background-size: 100% auto;
}

.iconos{
    font-size: 50px;
}


@media only screen and (max-width: 1410px) {    
}

@media only screen and (max-width: 1199px) { 
    .about{
        background-size: auto 100%;
    }
}

@media only screen and (max-width: 991px) {	
    .about{
        font-size: 14px;
    }
    
    .iconos{
        font-size: 35px;
    }
}

@media only screen and (max-width: 780px) {
}

@media only screen and (max-width: 575px) {
}

@media only screen and (max-width: 360px) {
}
