<section class="about pt-3 pt-md-5 pb-5 text-center">

   <app-title [title]="'Sobre Maria Guerrero'"></app-title>

    <div class="container clearfix pt-2 pt-md-5 pb-3 pb-md-5 text-center">
        <p>
            En abril de 2004, abría María Guerrero en Bahía Blanca. Hoy 16 años despues , sigue siendo el lugar donde podés encontrar todo lo necesario para la ambientación, decoración y amoblamientos de una casa.
Trabajamos con cada cliente para poder conocer sus necesidades, gustos y preferencias, eligiendo entre infinidad de telas, colores, lustres, modelos para poder elaborar una propuesta que se ajuste perfectamente a todos los factores a tener en cuenta en la decoración de una casa. 
        </p>
        <p>
            Hoy en 2020, ampliamos nuestros canales de venta a redes sociales y mensajería, pero manteniendo siempre el mismo espíritu de dar a cada cliente una atención personalizada.
        </p>
    </div>
    <div class="iconos text-center pb-2 pb-md-4  ">
        <i class="fas fa-couch ml-4 mr-4"></i>
        <i class="fas fa-chair ml-4 mr-4"></i>
        <i class="fas fa-crop-alt ml-4 mr-4"></i>
    </div>
</section>
