<!-- Footer -->
<footer class="page-footer font-small blue p-0 pt-4 col-12">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <h5 class="text-uppercase"><img src="/assets/logo/logo-blanco.png"></h5>
          <p class="mt-2">"Lorem ipsum dolor sit amet consectetur adipisicing"</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3 d-none d-md-inline-block">
  
          <ul class="list-unstyled">
            <li>
              <a [routerLink]="['/']">Inicio</a>
            </li>
            <li>
              <a [routerLink]="['/profesionales']">Productos</a>
            </li>
            <li>
              <a [routerLink]="['/sumate']">Categorias</a>
            </li>
            <li>
              <a [routerLink]="['/contacto']">Contacto</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h6 class="text-uppercase">Redes Sociales</h6>
  
          <ul class="list-unstyled">
            <li class="mt-3">
              <a href=#  class="text-light mr-3 mr-md-4" target="_blank"><i class="fab fa-facebook-square fa-2x"></i></a>
              <a href=# class="text-light mr-3 mr-md-4" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
              <a href=# class="text-light" target="_blank"><i class="fab fa-whatsapp fa-2x"></i></a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3"> 
      Creado por <a href="https://xeronweb.com"> Xeron Web</a> y Web Celts
    </div>
    <!-- Copyright -->
  
</footer>
<!-- Footer -->