footer{
    margin-top: 100px;
    padding: 50px 0;
    background-color:rgb(34, 34, 34);
    color: #FEFEFE;
    float: left;
    clear: both;
    border-top: solid 4px rgb(15, 15, 15);
}

footer.page-footer li{
    margin-bottom: 10px;
}

a{
    color: #FEFEFE;
}

a:hover{
    color: #FEFEFE;
}
footer .footer-copyright{
    background-color: #882627;
    border-top: solid 1pxrgba(153, 186, 101, 0.116)b;
    font-size: 14px;
}

h5 img{
    max-width: 230px;
    margin:auto;
    margin-left: 65px;
}