.general{
    background-color: rgba(235, 235, 235,0.3);
    box-shadow: 1px 1px 1px rgba(204, 204, 204, 0.473);
}
.caja{
    // padding-top: 10px;
    // padding-left:30px;
    // padding-right: 30px;
    padding:20px;
}

.carru{
    max-width: 800px;
    margin-top:10px;
    margin:auto;
}

.intro{
    display: flexbox;
}

button{
    border: solid 1px #FFF;
    background-color: rgba(232, 232, 243, 0.384);
    border-bottom: 1.5px solid #b41004;
    border-radius: 0;
    height: 43px;
    background-color: #ba4545; 
    color:rgba(240, 238, 238, 0.966);
    border-radius: 4px;
    margin: 3px;
    width: 100px;
    align-items: flex-end;
}

.intro h3{
    color: rgba(66, 66, 66, 0.548);
    display: inline-block;
    text-align: left;
}

.intro h1{
    margin-top: 5px;
}