.principal{
    background-color:rgba(235, 230, 230, 0.247);
    height: 700;
    margin: auto;
    padding: 10px;
    border: 2px solid rgba(235, 230, 230, 0.247); 
}

.carousel-inner  {
    max-width: 600px;
    height: 100%;
}

.carousel-inner img{
    max-width: 600px;
    height: 100%;
    display:block;
    margin:auto;
}

.carousel{
    max-width: 600px;
    height: 100%;
    margin-right: 15px;
    margin: auto;
}

.informacion {
    margin-top: 5px;
    padding: 10px;
}

.informacion h2{
    margin-top:10px;
    margin-bottom: 10px;
    color:rgba(58, 58, 58, 0.842)
}

.informacion button{
    border: solid 1px #FFF;
    background-color: rgba(232, 232, 243, 0.384);
    border-bottom: 1.5px solid #b41004;
    height: 43px;
    background-color: #ba4545; 
    color:rgba(240, 238, 238, 0.966);
    border-radius: 4px;
    width: 150px;
    margin-right: 7px;
}

.informacion button i {
    margin:2px
}