
<div class="d-flex col-12 p-0" id="wrapper">

    <!-- Sidebar -->
    <div class="border-right sidebar-wrapper text-left" id="sidebar-wrapper">
      <div class="sidebar-heading">Panel de control</div>
      <div class="list-group list-group-flush text-left">
        <a [routerLink]="['/panel/productos']" class="item"><i class="fad fa-loveseat mr-2"></i> Productos</a>
        <a [routerLink]="['/panel/categorias']" class="item"><i class="fab fa-cuttlefish mr-3"></i> Categorías</a>
        <a [routerLink]="['/panel/usuarios']" class="item"><i class="fas fa-user mr-2"></i> Usuarios</a>
        <a class="item exit" (click)="logout()"><i class="fas fa-sign-out-alt mr-2" ></i>Cerrar Sesión</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg border-bottom navbar">
        <button class="btn btn-toggle" (click)="toggle()" id="menu-toggle"><i class="far fa-bars"></i></button>
        <div class="ml-auto display-5 mr-2" *ngIf="name">{{name}}<i class="fas fa-user ml-2"></i></div>
        <div class="ml-auto display-5 mr-2" *ngIf="!name">No hay nombre<i class="fas fa-user ml-2"></i></div>
      </nav>

      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </div>
</div>








