
$colorBlueLight: #882627;

header{
    background-color: $colorBlueLight;
    padding: 5px 0;
    color: #f5f5f5;
}

header .slogan, header .info{
    padding-top: 6px;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 0;
}


header .info.telefono{
    padding-top: 3.5px;
}

.navbar .navbar-brand .logo{
    max-width: 230px;
}


.navbar{
    background-image: -webkit-gradient(linear, left top, right top,	color-stop(0, rgb(34, 34, 34)),	color-stop(1, rgb(15, 15, 15)));
    background-image: -o-linear-gradient(right, rgb(34, 34, 34) 0%, rgb(15, 15, 15) 100%);
    background-image: -moz-linear-gradient(right, rgb(34, 34, 34) 0%, rgb(15, 15, 15) 100%);
    background-image: -webkit-linear-gradient(right, rgb(34, 34, 34) 0%, rgb(15, 15, 15) 100%);
    background-image: -ms-linear-gradient(right, rgb(34, 34, 34) 0%, rgb(15, 15, 15) 100%);
    background-image: linear-gradient(to right, rgb(34, 34, 34) 0%, rgb(15, 15, 15) 100%);
}

.navbar .navbar-brand{
    width: 300px;
    margin: 10px 0;
}
.navbar .navbar-brand img{
    width: 100%;
}

.navbar{    
    -webkit-box-shadow: 0px 10px 17px -9px rgba(0,0,0,0.12);
    -moz-box-shadow: 0px 10px 17px -9px rgba(0,0,0,0.12);
    box-shadow: 0px 10px 17px -9px rgba(0,0,0,0.12);
}

.navbar-collapse{
    margin-top: 10px;
}

.navbar .navbar-nav .nav-item a.nav-link{    
    text-transform: uppercase;
    color: #EDEDED !important;
    padding: 0 5px;
    margin: 0 5px;
    padding-bottom: 5px;
    font-weight: 500;
    border-bottom: solid 2px rgba(0,0,0,0);
    font-family: 'Montserrat', cursive;
    font-size: 14px;
}
.navbar .navbar-nav .nav-item a.nav-link:hover{    
    color: rgb(57, 58, 59);
    border-bottom: solid 2px $colorBlueLight;
    transition: 0.5s;
}


.flag-selection{
    margin-top: -2px;
}


@media only screen and (max-width: 991px) {	
    
    .navbar .navbar-brand{
        width: 200px;
        margin: 10px 0;
    }
    .navbar .navbar-brand img{
        width: 100%;
    }
    .nav-item{
        text-align: center !important;
    } 
    .nav-link{
        text-align: center;
        padding: 8px !important;
        font-size: 17px !important;
    }
}


@media only screen and (max-width: 350px) {	
    .ocultar{
        display: none;
    }
}