<div class="container">

  <loading class="loading" *ngIf="!product"></loading>

  <div *ngIf="product" class="principal mt-4 mb-1">
    <div class="carrusel">
      
      <!-- Carrusel -->
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li *ngFor="let image of photos; let indexOfelement=index;" data-target="#carouselExampleIndicators" [attr.data-slide-to]="indexOfelement+1"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active" [style.backgroundImage]="'url('+ storage + '' + mainPhoto + ')'"></div>
          <div *ngFor="let image of photos" class="carousel-item" [style.backgroundImage]="'url('+ storage + '' + image + ')'"></div>
        </div>
      </div>

    </div>

    <div class="informacion">
      <!--Informacion -->
      <div class="row">
        <div class="col-12 col-lg-7">
          <h1 class="col-12 p-0">{{product.title}}</h1>
          <h3 class="col-12 p-0">{{product.category.name}}</h3>          
        </div>
        <div class="col-12 col-lg-5 p-0 pt-3 pt-md-5 text-right">
          <input type="number" id="cantidad-r" class="d-inline-block pl-2 pr-2 quantity" value="1" min="1" name="cant" />   
          <button class="d-inline-block pl-2 pr-2" (click)="enviarPresupuestar()"><i class="fas fa-cart-plus mr-2"></i> Presupuestar</button>         
          <button class="d-inline-block pl-3 pr-3" [routerLink]="['/contacto']"><i class="fal fa-envelope"></i></button> 
        </div>
      </div>

    </div>

  </div>
  
  <div *ngIf="product" class="principal mt-1 mb-4">
    <div class="informacion">
      <h5>Descripción</h5>
      <hr>
      <div class="description" [innerHtml]="product.description">
        
      </div>
    </div>
  </div>
</div>