<div class="float-left title col-12 p-0">
    <div class="gradient float-left col-12 p-0 pb-3">
      <div class="container text-center pt-3">
          <h2 class="animated fadeInDown">Muebles y objetos</h2>
      </div>
    </div>
</div>

<div class="menu col-12 float-left p-0">
    <div class="container">   
        
        <!-- categorias -->
        <div class="dropdown show float-left">
            <button class="btn btn-outline-danger my-0 my-md-2 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Categorías
            </button>   
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a *ngFor="let category of categories" class="dropdown-item"  [routerLink]="['/productos/', category.id, category.name]" >{{category.name}}</a>
            </div>
        </div>

        <!-- boton para ver busqueda en celular-->
        <div class="btn-cel text-right d-md-none">
            <button id="open" (click)="open()" class="btn btn-outline-danger my-sm-0" ><i class="fas fa-search"></i></button>
            <button id="close"(click)="close()" class="btn btn-outline-danger my-sm-0 d-none" ><i class="far fa-chevron-double-up"></i></button>
        </div>
        
        <!-- formulario -->
        <form class="d-none d-md-inline-block form-inline my-0 my-sm-2 my-lg-0 float-right mr-0 mr-md-3">
            <input class="form-control mr-2" type="search" placeholder="" aria-label="Search">
            <button class="btn btn-outline-danger my-2 ml-auto" type="submit"><i class="fas fa-search"></i></button>
        </form>

    </div>
</div>

<section class="products col-12 mt-4 float-left p-0">
    <div class="container">   
        
        <loading *ngIf="!products"></loading>
        
        <app-min 
            [size]="[6,4]" 
            *ngFor="let p of products  | paginate: { itemsPerPage: 9, currentPage: p }"
            [product]="p"
        ></app-min>
        <div class="clearfix"></div>
        <div class="col-12 pt-3 pb-3 text-center clearfix">
            <pagination-controls class="pagination d-inline-block clearfix" (pageChange)="p = $event" autoHide="true" responsive="true"
            directionLinks="true" previousLabel="Anterior" nextLabel="Siguiente" maxSize="10"></pagination-controls>   
        </div>     
    </div>
</section>
