.whatsapp{
    color: #25D366;
    font-size: 45px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.87);
    border-radius: 100px;
    z-index: 1000;
    width: 73px;
    height: 73px;
    text-align: center;
}


.whatsapp:hover{
    color: #128C7E;
    transition: 0.5s;
    background-color: rgb(255, 255, 255);
}



@media only screen and (max-width: 771px) {	
    .whatsapp{
        color: #25D366;
        font-size: 30px;
        position: fixed;
        bottom: 10px;
        right: 10px;
        background-color: rgba(255, 255, 255, 0.87);
        border-radius: 100px;
        z-index: 1000;
        width: 45px;
        height: 45px;
        text-align: center;
    }


    .whatsapp:hover{
        color: #128C7E;
        transition: 0.5s;
        background-color: rgb(255, 255, 255);
    }

}
