
<!-- Modal -->
<div #modalCategory class="modal fade" [attr.id]="'modalCategory-'+category.id" tabindex="-1" role="dialog" aria-labelledby="modalCategoryTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">{{title}} Categoría</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form *ngIf="category" (ngSubmit)="onSubmit(categoryForm)" #categoryForm="ngForm">    
                    <div class="form-row col-12 p-0">
                
                        <div class="form-group col-12 mb-3">
                            <label for="nombreInput">Nombre de la categoría</label>
                            <input 
                                type="text" class="form-control" id="nombreInput" 
                                placeholder="Ingrese el nombre de la categoría"
                                name="name" required
                                #name="ngModel" [(ngModel)]="category.name"
                            >
                            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alerta text-danger pt-1 pl-1">
                                <div *ngIf="name.errors.required">
                                    El campo nombre es obligatorio
                                </div>                
                            </div>
                        </div>
                    
                    </div>
                    
                    <div id="alert-form" class="alert d-none clearfix mb-3" role="alert">
                        Validando datos
                    </div>
                    
                    <div class="form-row col-12 pl-1">  
                        <button type="submit" (onclick)="onSubmit(null)" class="btn btn-info mt-2 btn-sm">Guardar</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>