.title-service{
    float: left;
    background-attachment: fixed;
    background-image: url('/assets/folder/bg-completo.jpeg');
    background-size: 100% auto;
    background-position: center;
}
.title-service .gradient{
    float: left;
    background-color: rgba(0,0,0,0.6);
    min-height: 200px;
}

.products{
    margin: 40px 0;
}

.product{
    display: inline-block;
    width: 32.3%;
    padding: 10px 1%;
}

.product .content{
    border: 0px solid #88262885;
    border-radius: 2px;
}

.product .imagen{
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.1);
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 20vh;
    border-radius: 2px 2px 0 0;
    transition: 0.5s;   
    display: inline-block;
    
}
.product .imagen:hover{
    background-image: url('/assets/products/image.jpg');
    background-size: 110% auto;
    transition: 0.5s;    
}
.product h3{
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.1);
    position: relative;
    margin: 0;
    width: 100%;
    padding: 20px 0;
    font-size: 20px;
    font-family: 'Montserrat', cursive;
    color: rgb(255, 255, 255);
    display: inline-block;
    text-shadow: 1px 1px 3px rgb(53, 53, 53);
}
.product h3 span{
    position: relative;
    z-index: 5;
}
.product h3 .background{
    position: absolute;
    background-image: url('/assets/bg-shop.jpg');
    background-color: rgb(255, 255, 255);
    background-size: 150% auto;
    opacity: 0.15;
    top: 0;
    left: 0;
    z-index: 0;
}

@media only screen and (max-width: 1410px) {    
}

@media only screen and (max-width: 1199px) { 

}

@media only screen and (max-width: 991px) {	
    .product{
        width: 50%;
        padding: 10px;
    }
    
    .container{
        max-width: 100% !important;
    }

    .title-service{
        background-size: auto 100% ;
    }
}

@media only screen and (max-width: 780px) {
    
}

@media only screen and (max-width: 575px) {
    .product{
        width: 100%;
        padding: 10px;
    }
}

@media only screen and (max-width: 360px) {
}
