<section class="float-left title-service col-12 p-0">
    <div class="gradient float-left col-12 p-0 pb-3">
      <div class="container text-center pt-3">
          <app-title [title]="'Catálogo'"  id="catalogo" [id]="'catalogo'" [color]="'#EDEDED'"></app-title>

          <a *ngFor="let p of products" [routerLink]="['/producto/123123']" class="products col-12 p-0 text-center">
            <div class="product d-inline-block mt-2 mb-2">
                <div class="content col-12 p-0">
                    <div class="imagen" [style.backgroundImage]="'url('+storage+''+p.images[0]+')'"></div>
                    <div class="title">
                      <div class="background col-12 h-100 p-0 m-0"></div>
                      <h3>{{p.title}}</h3>
                    </div>
                </div>
            </div>
          </a>     

      </div>
    </div>
  </section>
  
  
  <div class="clearfix"></div>