<div [routerLink]="['/producto', product.category.name , product.id, product.title]"  [class]="'animated fadeIn product p-0 pr-md-3 col-12 col-md-'+size">
    <div class="image" [style.backgroundImage]="'url(' + storage + '/' + product.images[0]+')'"></div>
    <div class="description col-12 p-0">
        <h4 class="title col-12 col-lg-7 pt-2 float-left text-center text-lg-left">
            {{product.title}}
        </h4>
        <div class="extra col-12 col-lg-5 pt-2 float-left text-center text-lg-right pb-2">
            <a class="btn btn-sm btn-light d-inline-block">Ver más</a>
        </div>
    </div>
</div>
